issueforge.duckdns.org {
    handle /api/* {
        reverse_proxy localhost:5000
    }
    handle {
        root * /var/www/issue-tracker
        try_files {path} /index.html
        file_server
    }
}
