# Server Configuration
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/issue-tracker?retryWrites=true&w=majority

# Authentication (JWT)
JWT_SECRET=generate-with-openssl-rand-base64-32
JWT_REFRESH_SECRET=generate-with-openssl-rand-base64-32

# Expiry settings
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Frontend URL (for CORS)
# Local: http://localhost:5173
# Production: your production frontend URL
CLIENT_URL=https://issue-tracker-client-tau.vercel.app
